<form name="form" ng-controller="ChangePasswordController" class="css-form" novalidate>
        <div class="list">
            <label class="item item-input">
                <input type="password" ng-model="password1" placeholder="Mot de passe" minlength="4"/>
            </label>
            <label class="item item-input">
                <input type="password" name="password2" ng-model="password2" placeholder="Confirmer le mot de passe" compare-to="password1" minlength="4"/>
                <span ng-show="form.password2.$error.compareTo">Both password must match</span>
                <span ng-show="form.password1.$error.minlength || form.password2.$error.minlength">Min length value 4</span>
            </label>
            <label class="item item-input">
                <button class="button" ng-disabled="form.$invalid || form.password1.$pristine || form.password2.$pristine" ng-click="changePassword()">Change Password</button>
            </label>
        </div>
</form>
