<form name="form" ng-controller="AddController">
    <div class="list">
        <label class="item item-input">
            <input type="text" ng-model="diese" placeholder="#hastag" name="hashtag" hashtag/>
            <span ng-show="form.hashtag.$error.hashtag">Must Not Contain Blancks</span>
        </label>
       <label class="item item-input">
            <button class="button icon-left ion-image" ng-click="addPicture()">Add A Picture</button>
        </label>
        <label class="item item-input">
            <button class="button" ng-disabled="disabled || form.hashtag.$error.hashtag || form.hashtag.$pristine" ng-click="submit()">Ajouter</button>
        </label>
    </div> 
</form>
