<div ng-controller="LoginController" class="list">
          <label class="item item-input">
            {{ message }}
          </label>
          <label class="item item-input">
            <input type="text" id="username" ng-model="user.username" placeholder="email"/>
          </label>
          <label class="item item-input">
            <input type="password" id="password" ng-model="user.password" placeholder="password"/>
          </label>
            <label class="item item-input">
                <button class="button" ng-click="login()">Connexion</button>
          </label>
          <label class="item item-input">
                <button class="button" ui-sref="subscribe">Subscribe</button>
          </label>
</div>
 
