<div ng-controller="MySearchController">
   <form>
        <div class="list">
             <label>
                Je Souhaite être prévenu, des journeaux disponible< /br>
            </label>
            <label>
                Dans un rayon de x km
            </label>
            <label>
                Autour de : proposition d'address. et autcompletion googl
                    - une adresse que je saisie
            </label>
            <label>
                Adresse
            </label>
            <label>
                <button>Souscrire aux notification| unsubscribe</button>
            </label>
        </div>
    </form>
</div>

