<div ng-controller="SearchController">
   <form style="height:100%;position:absolute;width:100%">
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="diese" placeholder="#any" />
            </label>
             <label class="item item-input item-select">
                 <div class="input-label">Select a distance</div>
                 <select ng-options="option.label for option in options track by option.value" ng-model="distance" ></select>
            </label>
            <label class="item item-input">
                <button class="button" ng-click="submit()">Search</button>
            </label>
            <label class="item item-input">
                <button class="button" ng-click="openModal()">Modal</button>
            </label>

        </div>
        <div id="map-canvas" width="100%" style="height:400px;position:relative;bottom:0px;top:0px;";></div>
    </form>
</div>
<script id="save-search" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
        <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
        <div ng-controller="SaveSearchController">
            <div class="row" ng-repeat="row in rows">
                <div class="col" ng-repeat="hashtag in row">
                    {{ hashtag }} <button class="button" ng-click="remove(hashtag)">Remove</button>
                </div>
            </div>
           <ion-list>
                <ion-item ng-repeat="hashtag in hashtags" ng-show="showAdd(hashtag)" class="item-button-right">
                    {{ hashtag }}
                    <button class="button button-positive" ng-click="add(hashtag)">
                        <i class="icon ion-ios-telephone"></i>
                    </button>
                </ion-item>
            </ion-list>
            {{ myHashtags }}
            {{ rows }}
        </div>                   
    </ion-content>
</ion-modal-view>
</script>

