<div ng-controller="SearchController">
   <form style="height:100%;position:absolute;width:100%">
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="diese" placeholder="#any" />
            </label>
             <label class="item item-input item-select">
                 <div class="input-label">Select a distance</div>
                 <select ng-options="option.label for option in options track by option.value" ng-model="distance" ></select>
            </label>
            <label class="item item-input">
                <button class="button" ng-click="submit()">Search</button>
            </label>
        </div>
        <div id="map-canvas" width="100%" style="height:400px;position:relative;bottom:0px;top:0px;";></div>
    </form>
    <!--<ion-list>
        <ion-item ng-repeat="result in results" >
            {{ result._source.content }}
        </ion-item>
    </ion-list>-->
</div>
